*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 2rem;
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50vh;
}

.end{
    background-color: black;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 2px solid white;
    color: white;
    width: 20%;
    margin-left: 40%;
}
.reset{
    background-color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 2px solid black;
    width: 10%;
    margin-left: 45%;
}
.first-counter{
    width: 50%;
    border-right: 2px solid black;
}
.second-counter{
    width: 50%;
    border-left: 2px solid black;
}

p{
    font-size: 4rem;
}

button{
    cursor: pointer;
}

.first-counter .increase, .second-counter .increase{
    background-color: green;
    border: none;
    cursor: pointer;
    margin:2rem;
    font-size: 1.3rem;
    color: white;
    padding: 5px;
}
.first-counter .increase2, .second-counter .increase2{
    background-color: green;
    border: none;
    cursor: pointer;
    margin:2rem;
    font-size: 1.3rem;
    color: white;
    padding: 5px;
}

.first-counter .increaseplusthree, .second-counter .increaseplusthree{
    background-color: green;
    border: none;
    cursor: pointer;
    margin:2rem;
    font-size: 1.3rem;
    color: white;
    padding: 5px;
}

section{
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
    color: rgb(16, 189, 212);
}